@model suaBaladaAqui2.ViewsModels.principalViewModel;

@{
    ViewData["Title"] = "suaBaladaAqui";
    var paginas = 0;
    var ativo = "";
    var contaItensCarousel = 0;
    var ativoCarousel = "";
}

<!-- Corousel -->
<div class="row">
    <div class="col-sm-12 position-relative">
        <div id="carouselSlides" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                @foreach (var carousel in Model.carouselPVM)
                {   
                    if(contaItensCarousel == 0){
                        ativoCarousel = "active";
                    }else{
                        ativoCarousel = "";
                    }
                    contaItensCarousel ++;
                    
                    <div class="carousel-item @ativoCarousel">
                        <img src="@Html.DisplayFor(modelItem => carousel.Imagem)" 
                            class="d-block w-100 position-absolute top-50 start-50 translate-middle" alt="suaBaladaAqui2">  
                        <div class="carousel-caption d-md-block text-start">
                            <h5 class="text-warning">@Html.DisplayFor(modelItem => carousel.FrasePrincipal)</h5>
                            <p class="fs-4 text">@Html.DisplayFor(modelItem => carousel.FraseSecundaria)</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Pesquisa -->
<div class="row">
    <div class="col-sm-12 bg-light br-gradient">
        <form asp-action="Pesquisa" method="post" class="w-75 mx-auto py-3" enctype="multipart/form-data" >
            <div class="row g-3 align-items-center justify-content-evenly">
                <div class="col-12 col-sm-5">
                    <select name="tipo" class="form-select vw-50" aria-label="Default select example">
                        <option value="Evento" selected>Pesquisar por Nome</option>
                    </select>
                </div>
                <div class="col-9 col-sm-5">
                    <input name="pesquisa" type="text" class="form-control">
                </div>
                 <div class="col-3 col-sm-2">
                    <button type="submit" class="btn btn-primary" type="button">Pesquisar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Conteúdo -->
<div class="row justify-content-center">  
    <div class="col-sm-12 py-5 w-75 bg-light bg-gradient">
        <div class="row row-cols-sm-3">
            @foreach (var Evento1 in Model.boxPVM)
            {
                <div class="col-12 col-sm-6 col-lg-4 text-center">
                    <figure class="figure foto-conteudo">
                        <a data-bs-toggle="modal" data-bs-target="#Model" 
                        data-bs-target="#Modal" data-bs-whatever="@Html.DisplayFor(modelItem => Evento1.Imagem)">
                            <img src="@Html.DisplayFor(modelItem => Evento1.Imagem)" class="figure-img img-fluid rounded" alt="...">
                        </a>
                        <figcaption class="figure-caption text-end">
                            <span class="fs-6 badge rounded-pill bg-success">
                                @Html.DisplayFor(modelItem => Evento1.DataEvento)
                            </span>
                            <h5 id="festa-nome" class="fs-4 mb-3 text-dark">
                                @Html.DisplayFor(modelItem => Evento1.Evento1)
                            </h5>
                            <p id="cid" class="fs-6 text-muted mb-0">
                                @Html.DisplayFor(modelItem => Evento1.Cidade)
                            </p>
                            <p class="fs-5 text-primary">
                                Local: 
                                <span id="local" class="text-dark">
                                   @Html.DisplayFor(modelItem => Evento1.LocalName)
                                </span>
                            </p>
                        </figcaption>
                    </figure>
                </div> 
            }
         </div>
    </div>
</div>

<!-- Paginação -->
<div class="row">
    <div class="col-sm-12 bg-light bg-gradient">
        <nav class="w-75 mx-auto">
            <ul class="pagination justify-content-center">
                @for(var pags=0; pags<ViewBag.numeroPaginas; pags++)
                {
                    paginas++;
                    if(pags == (ViewBag.paginaAtual - 1))
                    {
                        ativo = "active";
                    }else{
                        ativo = "";
                    }
                    
                    <li class="page-item @ativo">
                        <a class="page-link" asp-controller="suaBaladaAqui2" asp-action="Index" asp-route-id="@paginas">
                            @paginas
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
@foreach (var Evento1 in Model.carouselPVM)
{
    <div class="modal fade" id="Model" tabindex="-1" aria-labelledby="ModalImg" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="@Html.DisplayFor(modelItem => Evento1.Imagem)" class="w-100" alt="...">
            </div>
            </div>
        </div>
    </div>
}