@model suaBaladaAqui2.Models.EventosModel

@{
    ViewData["Title"] = "Excluir Evento1s";
}

<h1>Excluir Evento1</h1>

<h3>Deseja mesmo excluir esse Evento1?</h3>
<div>
    <hr />
    <div class="row">
        <div class="col-6">
            <dl class="row">
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Evento1)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Evento1)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Atracoes)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Atracoes)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Cidade)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Cidade)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Bairro)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Bairro)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Endereco)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Endereco)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.LocalName)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.LocalName)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.DataEvento)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.DataEvento)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.FoneContato)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.FoneContato)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Organizador)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Organizador)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Responsavel)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Responsavel)
                </dd>
            </dl>
        </div>
        <div class="col-4">
            <img src="@Html.DisplayFor(model => model.Imagem)" height="300" width="400">
        </div>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para lista</a>
    </form>
</div>
